.rating {
  display: none;
}

.search-title {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  color: white;
}

#search-input {
  width: 580px;
  height: 35px;
  border-radius: 25px;
  margin-right: 10px;
  padding-left: 34px;
  border: black ;
}

#search-button {
  background-color: rgb(2, 207, 2);
  border-radius: 8px;
  color: black;
  border: black 2px solid;
  width: 97px;
  font-size: 16px;
}

#search-button:hover {
cursor: pointer;
}

#search-label {
  display: flex;
  justify-content: center;
}

#header {
  background-color: rgb(61, 61, 252);
  margin: 0;
  padding: 40px;
  margin-bottom: 20px;
}

#aside {
  min-width: 200px;
  height: auto;
}

#main {
  display: flex;
  flex-direction: row;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}